{# Contains all the built-in blocks of the editor page #}
{% block ts_body %}
    <div class="tzunghaor_settings_page">
        {% block ts_sidebar %}
        <div class="tzunghaor_settings_sidebar">
            {% block ts_collection_selector %}
                {% if collections | length > 1 %}
                    <div class="tzunghaor_settings_collection_selector tzunghaor_settings_selector tzunghaor_settings_list_container">
                        {% block ts_collections_heading %}
                            <h3>{% block ts_collections_title %}Collections{% endblock %}</h3>
                        {% endblock %}

                        {% block ts_collections_list %}
                        {{ include('@TzunghaorSettings/list.html.twig', { items: collections, currentName: currentCollection }) }}
                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock ts_collection_selector %}

            {% block ts_scope_selector %}
                {% if scopes is not empty  %}
                    <div class="tzunghaor_settings_scope_selector tzunghaor_settings_selector">
                        <script type="application/json" class="tzunghaor_settings_scope_selector_data">{{
                            {
                                'searchUrl': searchUrl,
                                'linkRoute': linkRoute,
                                'collection': currentCollection,
                                'section': currentSection,
                                'currentScope': currentScope.name,
                            } | json_encode | raw }}</script>

                        {% block ts_scopes_heading %}
                            <h3>{% block ts_scopes_title %}Scopes{% endblock %}</h3>
                        {% endblock %}

                        {% if searchUrl is defined and searchUrl is not null %}
                            <input class="tzunghaor_settings_scope_search" type="text" />
                        {% endif %}
                        <div class="tzunghaor_settings_scopes_list tzunghaor_settings_list_container">
                            {% block ts_scopes_list %}
                            {{ include('@TzunghaorSettings/list.html.twig', { items: scopes, currentName: currentScope.name }) }}
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}
            {% endblock ts_scope_selector %}

            {% block ts_section_selector %}
                {% if sections | length > 1 %}
                    <div class="tzunghaor_settings_section_selector tzunghaor_settings_selector tzunghaor_settings_list_container">
                        {% block ts_sections_heading %}
                            <h3>{% block ts_sections_title %}Sections{% endblock %}</h3>
                        {% endblock %}

                        {% block ts_sections_list %}
                        {{ include('@TzunghaorSettings/list.html.twig', { items: sections, currentName: currentSection }) }}
                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock ts_section_selector %}
        </div>
        {% endblock ts_sidebar %}


        {% block ts_setting_form %}
            {% if form is not null %}
                {{ include('@TzunghaorSettings/setting_form.html.twig') }}
            {% endif %}
        {% endblock ts_setting_form %}
    </div>
{% endblock %}

{% block ts_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/tzunghaorsettings/css/tzunghaorsettings.css') }}" />
{% endblock %}

{% block ts_javascripts %}
    <script type="application/javascript" src="{{ asset('bundles/tzunghaorsettings/js/tzunghaorsettings.js') }}"></script>
{% endblock %}
