{# snippet to render the collection/scope/section selector #}
{% macro list(items, currentName) %}
    <ul>
        {% for item in items %}
            <li {% if item.name == currentName %} class="tzunghaor_settings_current"{% endif %}>
                {% if item.url %}
                    <a href="{{ item.url }}" class="tzunghaor_settings_item">
                        {{ item.title }}
                    </a>
                {% else %}
                    <span class="tzunghaor_settings_item">
                        {{ item.title }}
                    </span>
                {% endif %}
                {% if item.children is defined and item.children %}
                    {{ _self.list(item.children, currentName) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{{ _self.list(items, currentName) }}