{% macro list(scopes, currentScope) %}
    <ul>
        {% for scope in scopes %}
            <li>
                {% if scope.url %}
                    <a href="{{ scope.url }}"
                            {% if scope.name == currentScope %} class="tzunghaor_settings_current"{% endif %}
                    >
                        {{ scope.title }}
                    </a>
                {% else %}
                    {{ scope.title }}
                {% endif %}

                {% if scope.children %}
                    {{ _self.list(scope.children, currentScope) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{{ _self.list(scopes, currentScope) }}